{% extends 'WesamlyKotobiBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Edit Tag{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('wesamly_kotobi_homepage') }}">{% trans %}Dashboard{% endtrans %}</a></li>
        <li><a href="{{ path('wesamly_kotobi_taglist') }}">{% trans %}Tags{% endtrans %}</a></li>
        <li class="active">{% trans %}Edit{% endtrans %}</li>
    </ol>
{% endblock %}

{% block content %}
    <h1>{% if app.request.get('id') !='' %}{% trans %}Edit Tag{% endtrans %}{% else %}{% trans %}Add Tag{% endtrans %}{% endif %}</h1>

    {{ form_start(form, {'attr': {'id': 'form_book_edit'}}) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}

    {{ form_end(form) }}

{% endblock %}