{% extends 'WesamlyKotobiBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Edit User{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('wesamly_kotobi_homepage') }}">{% trans %}Dashboard{% endtrans %}</a></li>
        <li><a href="{{ path('wesamly_kotobi_userlist') }}">{% trans %}Users{% endtrans %}</a></li>
        <li class="active">{% trans %}Edit{% endtrans %}</li>
    </ol>
{% endblock %}

{% block content %}
    <h1>{% trans %}Edit User{% endtrans %}</h1>

    {{ form_start(form, {'attr': {'id': 'form_user_edit'}}) }}

    {% for child in form.children %}

        {% if child.vars.block_prefixes.1 == 'text' %}

            <div class="form-group">
                {{ form_label(child) }}
                {{ form_widget(child, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(child) }}
            </div>
        {% elseif child.vars.block_prefixes.1 == 'repeated' %}

            {% for passwordField in child %}
                <div class="form-group">
                    {{ form_label(passwordField) }}
                    {{ form_widget(passwordField, { 'attr': {'class': 'form-control'} }) }}
                </div>
            {% endfor %}

        {% elseif child.vars.block_prefixes.1 == 'checkbox' %}

            <div class="checkbox">
                <label for="{{ child.vars.id }}"
                       class="{{ child.vars.required ? 'required' : '' }}">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </label>

            </div>

        {% elseif child.vars.block_prefixes.1 == 'submit' %}

            {{ form_widget(child, {'attr': {'class': 'btn btn-default'}}) }}

        {% else %}

            {{ form_row(child) }}

        {% endif %}
    {% endfor %}

    {{ form_end(form) }}

{% endblock %}