{% extends 'WesamlyKotobiBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}Books List{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('wesamly_kotobi_homepage') }}">{% trans %}Dashboard{% endtrans %}</a></li>
        <li class="active">{% trans %}Books{% endtrans %}</li>
    </ol>
{% endblock %}

{% block content %}
    <h1>{% trans %}Books List{% endtrans %}</h1>

    <a class="btn btn-primary btn-sm" href="{{ path('wesamly_kotobi_addbook') }}"><span class="glyphicon glyphicon-plus"></span> {% trans %}Add Book{% endtrans %}</a>

    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}ID{% endtrans %}</th><th>{% trans %}Title{% endtrans %}</th><th>{% trans %}Intro{% endtrans %}</th><th>{% trans %}Published{% endtrans %}</th><th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.intro }}</td>
                <td>{{ book.published }}</td>
                <td>
                    <a class="btn btn-default btn-sm" href="{{ path('wesamly_kotobi_editbook', {id: book.id}) }}"><span class="glyphicon glyphicon-pencil"></span> {% trans %}Edit{% endtrans %}</a>
                    <a class="btn btn-danger btn-sm" href="{{ path('wesamly_kotobi_deletebook', {id: book.id}) }}"><span class="glyphicon glyphicon-remove"></span> {% trans %}Delete{% endtrans %}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}